/*Variables*/
:root{
    --primario:rgb(17,17,17);
    --borde:rgb(245,245,245);
    --secundario:rgb(255,255,255);
    --oscuro:rgb(17,17,17);
    --sombra: 0 1px 5px rgba(104,104,104,0.8);
}


/*Global*/
html{
    font-family: monospace;
    background: var(--borde);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: roboto;
}

nav{
    background: white;
    height: 80px;
    width: 100%;
}

label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    text-transform: uppercase;
}

a.active,a:hover{
    color: white;
    background: black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media(max-width:952px){
    label.logo{
        font-size: 30px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        color: black;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: black;
    }

    #check:checked ~ ul{
        left: 0;
    }

}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    background-color: var(--secundario);
    height: 1em;
    border-bottom: 5px var(--secundario);

}

header .actual a{
    color: var(--borde);
    font-weight: bold;
    border: 2px solid var(--borde);
    padding: 5px;
   
}

header img{
    width: 2em;
}
header a{
    color:var(--primario);
}


.logo{
    cursor: pointer;
    display: flex;
}

/*Seccion top*/

#intro h1{
   margin-top: 190px;
   margin-bottom: 10px;
   font-size: 55px;
   text-shadow: 2px 2px 2px black;
    
}


.intro-contenido{
    overflow: hidden;
    
}

/*Seccion medio*/

.cajas{
    background:var(--borde);
    width: 100%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    text-align: center;
    border-bottom: 5px var(--secundario);
}

.caja1{
    width: 600px;
    height: 250px;
    
    border-radius: 10px;
    box-shadow: var(--sombra);
    margin: 0 50px 0 0;
    padding: 2px;
    background: rgb(248, 246, 246);
    
}


.caja2{
    width: 600px;
    height: 250px;
    margin: 0 0 0 50px;
   
    
   
    padding: 2px;
    background: rgb(248, 246, 246);
}


/*Seccion Desarrolladores*/


.desarrolladores{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 2fr);
    padding: 3rem;
    border-bottom: var(--secundario);
    text-align: center;
    
}
@media(min-width: 768px){
    .desarrolladores{
    flex-direction: row;
    }
}

.desa{
    box-shadow: var(--sombra);
    padding: 2rem;
    text-align: center;
    background: rgb(248, 246, 246);
    
}

.desarrolladores .desa img{
    width: 100%;
}






/*Seccion Servicios*/

.tipos{
    display: inline-flex;
    flex-direction: column;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 2fr);
    padding: 3rem;
    border-bottom: var(--secundario);
    
}
@media(min-width: 768px){
    .tipos{
    flex-direction: row;
    }
}

.tipo{
    box-shadow: var(--sombra);
    padding: 2rem;
    text-align: center;
    background: rgb(248, 246, 246);
    
}

.tipos .tipo img{
    width: 100%;
}

.btn1{
    display:inline-block;
    color: black;
    
    font-size: 15px;
    margin: 20px ;
    border: 4px solid #ccc;
    background: #ccc;
    border-radius: 3px;
    padding: 5px;
    overflow: hidden;
    transition: 0.5s all ease;
        
    
    
    
}

.btn1:hover{
    border-radius: 20px;
    transition: all 0.5s ease;
    background:var(--borde);
    border: 4px solid var(--borde);
    color: white;
}


input , textarea {
    border: 0px none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    padding:1em 0.5em;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 15em);
  
  }

.comment-div{
    margin: 1em;
}



/*Footer*/


footer{
    background-color: gray;
    color:var(--primario);
    height: 100px;
    align-content: center;
    line-height: 30px;
    padding: 1em;
}
footer img{
    width: 2em;
}
.contenedor-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

